.album-tiles div{
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
}



#a_lonely_road_single{
    /* background-image: url(../Music_Marketing/A_Lonely_Road/) */
    background-image: url(../Music_Marketing/A_Lonely_Road/A_Lonely_Road__Sol_Roth_sm.jpg);

}

#bailar_single{
    background-image: url(../Music_Marketing/Bailar/Bailar__Sol_Roth_sm.jpg);
}

#claw_to_the_top_single{
    background-image: url(../Music_Marketing/Claw_to_The_Top/Claw_to_the_Top__Sol_Roth_sm.jpg);
}

#dance_cray_single{
    background-image: url(../Music_Marketing/Dance_Cray/Dance_Cray__Sol_Roth_sm.jpg);
}

#dejected_cents_single{
   /** background-image: url(../Music_Marketing/Dejected_Cents/); **/
    background-image: url(../Music_Marketing/Dejected_Cents/Dejected_Cents__Sol_Roth_sm.jpg);
}

#demon_cats_in_outerspace_single{
    background-image: url(../Music_Marketing/Demon_Cats_In_Outer_Space/Demon_Cats_In_Outerspace__Sol_Roth_sm.jpg);
}

#dont_know_single{
    background-image: url(../Music_Marketing/Dont_Know/Dont_Know__Sol_Roth_sm.jpg);
}

#fire_single{
    /** background-image: url(../Music_Marketing/Fire/);*/
    background-image: url(../Music_Marketing/Fire/Fire__Sol_Roth_sm.jpg);
}

#hard_mornings_single{
    background-image: url(../Music_Marketing/Hard_Mornings/Hard_Mornings__Sol_Roth_sm.jpg);

}


#the_riddlers_last_riddle_single{
  background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);
}


#shadow_in_the_rain_single{
    /** background-image: url(../Music_Marketing/Fire/);*/
    background-image: url(../Music_Marketing/Shadow_in_the_Rain/Shadow_in_the_Rain__Sol_Roth_sm.jpg);
}

#make_it_through_single{
    /** background-image: url(../Music_Marketing/Fire/);*/
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);
}


#take_me_to_church_single{
    background-image: url(../Music_Marketing/Take_Me_To_Church/Take_Me_To_Church__Sol_Roth_sm.jpg);
}

#look_inside_single{
    background-image: url(../Music_Marketing/Look_Inside/Look_inside__Sol_Roth_sm.jpg);
}

#popcorn_dream_single{
    background-image: url(../Music_Marketing/Popcorn_Dream/Popcorn_Dream__Sol_Roth_sm.jpg);
}

#upside_out_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);
}

#long_shot_single{
    background-image: url(../Music_Marketing/Long_Shot/Long_Shot__Sol_Roth_sm.jpg);
}

#make_it_through_single{
    background-image: url(../Music_Marketing/Make_it_Through/Make_it_Through__Sol_Roth_sm.jpg);

}

#mean_single{
    background-image: url(../Music_Marketing/Mean/Mean__Sol_Roth_sm.jpg);

}

#whiter_single{
    background-image: url(../Music_Marketing/Whither/Whither__Sol_Roth_sm.jpg);

}

#three_times_right_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);

}

#if_you_see_me_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);

}

#warriors_call_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);

}

#confusion_confusing_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);

}

#watch_me_to_do_it_single{
    background-image: url(../Music_Marketing/The_Riddlers_Last_Riddle/The_Riddlers_Last_Riddle__Sol_Roth_sm.jpg);
}

#upside_out_single{
    background-image: url(../Music_Marketing/Upside_Out/Upside_Out__Sol_Roth_sm.jpg);
}

#sloppy_bars_single{
    background-image: url(../Music_Marketing/Sloppy_Bars/Sloppy_Bars__Sol_Roth_sm.jpg);
}

#the_vivid_single{
    background-image: url(../Music_Marketing/The_Vivid/The_Vivid__Sol_Roth_sm.jpg);
}

#memory_lifeline_single{
    background-image: url(../Music_Marketing/Memory_Lifeline/Memory_Lifeline__Sol_Roth_sm.jpg);
}

#mythology_of_rhyme_single{
    background-image: url(../Music_Marketing/Mythology_of_Rhyme/Mythology_of_Rhyme__Sol_Roth_sm.jpg);
}

#trap_royalty_single{
    background-image: url(../Music_Marketing/Trap_Royalty/Trap_Royalty__Sol_Roth_sm.jpg);
}

#whiter_single{
  background-image: url(../Music_Marketing/Whither/Whither__Sol_Roth_sm.jpg);
}

#uninspired_single{
    background-image: url(../Music_Marketing/Uninspired/Uninspired_Sol_Roth_sm.jpg);
}

#vibrant_single{
    background-image: url(../Music_Marketing/Vibrant/Vibrant__Sol_Roth_sm.jpg);
}

#sexual_superpowers_single{
    background-image: url(../Music_Marketing/Sexual_Superpowers/Sexual_Superpowers__Sol_Roth_sm.jpg);
}

#ya_or_nah_single{
  background-image: url(../Music_Marketing/Ya_or_Nah/Ya_or_Nah__Sol_Roth_sm.jpg);
}

