:root{
    --logo_line_height: 1.5;
    --logo_font_family: var(--font_sans_serif);
    --logo_font_size: 16px;
    --logo_font_style: normal;
    --logo_font_variant: normal;
    --logo_border_radius: var(--border_radius_xxlarge);
}


@font-face {
    font-family: 'BeastBrush';
    src:
        url('../fonts/Beast-Brush.woff') format('woff'),
        url('../fonts/Beast.ttf') format('truetype'),
        url('../fonts/Beast-Brush.otf') format('opentype');
    font-family: 'NothingYouCouldDo';
    src:
        url('../fonts/NothingYouCouldDo-Regular.woff') format('woff'),
        url('../fonts/NothingYouCouldDo-Regular.ttf') format('truetype')
}

.navbar span:nth-of-type(1){
    padding: 0px !important;
}

.navbar .logo{
  font-size: 22px;
  font-family: 'NothingYouCouldDo';
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}

.navbar .logo strong{
    font-weight: bolder;
    font-size: 32px;
    line-height: 1.5;
    vertical-align: middle;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

.logo {
    margin: var(--margin);
    padding: var(--padding);
    font-family: "BeastBrush";
    text-shadow: 0px 1px 2px #0221a0;
    font-size: 42px;
    font-weight: bolder;
    color: white;
}

.navbar-menu .logo{

}

.navbar-menu .logo img{

}