header{
  max-width: 99%;
}

.text-logo{
  margin-top: 22px;
  filter: invert(1);
  text-shadow: 1px 1px 2px #009acf;
  font-size: 32px;
}

.navbar-menu{
  padding-top: 24px;
}

.navbar-menu span:nth-of-type(3){
  padding-top: 12px;
  margin-top: -100px;
}

.navbar-menu span:nth-of-type(3) a{
  font-size: 22px;
}

span.logo img {
  margin-top: -12px;
  margin-bottom: 18px;
}

header hgroup p{
 margin-top: 0px;
}

.icon-bar{
  filter: opacity(0.8);
}

.icon-bar svg{
  margin-right: 14px;
  margin-left: 14px;
}