article section{
    margin: var(--margin);
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
    background-color: var(--color_off_white);
    color: var(--color-on-surface);
    border-radius: var(--border_radius_medium);
    border-color: var(--color-outline);
    border-bottom-color: var(--color-on-primary-container-mono);
}

article blockquote{
    line-height: 2;
    padding: 10px;
    border-style: solid;
    border-color: grey;
    /* border: 2px; */
    border-radius: var(--border_radius);
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: clamp(45ch, 70%, 90ch);
    margin-left: auto;
    margin-right: auto;
}

article blockquote footer{
  padding: 10px;
  text-align: right;
  background-color: var(--color-outline);
}

