table {
    font-size: var(--font_size_small);
    padding: var(--padding_xlarge);
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: left;
    background-color: var(--color_off_white);
    border-width: 1px;
    border-color: #f2f0f4;
    border-color: #e5e5e5;
    border-style: solid;
    border-radius: var(--border_radius_medium);
    border-spacing: 0px;
}

small table{
    border-collapse: collapse;
}

th{
    border-bottom-style: var(--border_style);
    border-bottom-width: var(--border_normal);
    border-bottom-color: var(--color-outline)
}

th, td {
    padding: var(--padding_medium);
    border-bottom-style: var(--border_style);
    border-bottom-width: var(--border_normal);
    border-bottom-color: var(--color-outline);
    padding: var(--padding_medium_large);
}

tr{
    border-style: var(--border_style);
    border-bottom-width: var(--border_normal);
    border-color: var(--color-outline);
}


table thead th.table-header{
    border-width: 0px;
}

table tfoot tr td{
    border-width: 0px;
    padding: var(--padding_medium);
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 300px;
    padding-top: var(--padding_xlarge);
    padding-bottom: var(--padding_large);
    font-size: 16px
}

table tfoot{
    padding: var(--padding_medium_large);
}